## Abhinav.B_S5 CSE

# SECTION I : Beginner level questions

## 1. Write the output of the following
     k=[‘a’,’b’,’c’,’d’,’e’] 
     print(k[-1:-7:-1])

In [1]:
k=['a','b','c','d','e']
print(k[-1:-7:-1])

['e', 'd', 'c', 'b', 'a']

## 2. Reverse a list using Python
    list1 = [100, 200, 300, 400, 500]

In [2]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

## 3. Given two numbers, write a python code to find the maximum of these two numbers.
    Sample input: a=2, b=4

In [3]:
a = 2
b = 4
if (a > b):
    print ("maximum = ",a)
else:
    print ("maximum = ",b)

maximum =  4

# SECTION II: Intermediate level questions

## 6. Write a python program to print the current year, month and day

In [4]:
from datetime import date
today = date.today()
print("Current date is",today)

Current date is 2022-12-11

## 7. Write a Python program to construct the following pattern, using a nested for loop.
    *
    **
    ***
    ****
    *****
    ****
    ***
    **
    *

In [5]:
for i in range(1, 6):
    for j in range(1, i+1):
        print("*", end="")
    print()

for i in range(4, 0, -1):
    for j in range(1, i+1):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

## 9. Display all duplicate items from a list given:
    10, 20, 60, 30, 20, 40, 30, 60, 70, 80

In [16]:
list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicates = []
for item in list:
    if item in duplicates:
        print(item)
    else:
        duplicates.append(item)

20
30
60

# SECTION III : Difficult level questions

## 11. Write a python program to print the numbers from a given number n till 0 using recursion

In [15]:
def print_numbers(n):
  if n == 0:
    print(n)
    return
  print(n)
  print_numbers(n - 1)
num=10
print_numbers(num)

10
9
8
7
6
5
4
3
2
1
0

## 12. Modify the element of a nested list inside the following list:
    Sample input : list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
    Change the element 35 to 3500

In [9]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
pos = list1[1][2][2]
del pos[1]
pos.insert(1, 3500)
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

## 13. Write a while loop to display only alphabets from a string.
    Hint: In this question, print only the letters from a string by
    skipping all digits and special symbols

In [18]:
string = "Hello, World! 123"
i = 0
while i < len(string):
  if string[i].isalpha():
    print(string[i], end="")
  i += 1

HelloWorld